
    
@function px-to-rem($px) {
    $result: calc($px / 16) * 1rem;
    @return $result;

}

@mixin flex-center() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive-font($min-size, $max-size, $min-width: 320px, $max-width: 1200px) {
    font-size: calc(#{$min-size}px + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}px) / (#{$max-width} - #{$min-width})));

    @media (max-width: #{$min-width}) {
        font-size: #{min-size}px;
    }

    @media (min-width: #{$max-width}) {
        font-size: #{$max-size}px
    }
}

@mixin hover {
    &:hover, &:focus {
        @content;
    }
}

@mixin bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin aspect-ratio($w, $h) {
    position: relative;

    &::before {
        content: '';
        display: block;
        padding-top: ($h / $w) * 100%;
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin transition($properties...) {
    transition: properties;
    transiiton-timing-function: ease-in-out;
}